@model Natustech.Store.Domain.Product
<div class="col-3">
    <div class="card">
        <div class="card-body">
            <img src="@Model.ImageUrl" class="card-img-top" />
            <p class="card-title">@Model.Name @Model.Description</p>
            <p class="text-danger">@Model.Price TL | @(Model.Price * (1- Model.Discount)) TL </p>
            <button class="btn btn-success">Sepete Ekle</button>
        </div>
    </div>
</div>